* {	
	margin: 0 ;
	padding : 0;
	list-style: none;
	font-family: sans-serif;
}

body {
	background: linear-gradient(to right, green, lightblue);
}

.CV{
	width : 800px;
	height: auto;
	display: flex;
	margin: auto;
	background-color: #fff;
}

.left {
	
	width: 300px;
	background: linear-gradient(to top, green, white);
	font-size: 18px;
}

.right { 
	width: 500px;
	background-color: white;
	margin-left:20px 
}

.left .title {
	font-size: 120%;
	color: #3525af;
	text-align: center;
	text-transform: uppercase;
}

.left *{
	border : 1px solid transparent;
}

/*image*/

.left .profile {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 25px;
}
.left .profile img {
	width:200px;
	height: 200px;
}

/*contacts section */

.left .contact {
	text-align: left;	
	padding-left: 20px;
}
.left table tr td:nth-child(1){
	padding-bottom: 5px;
}
.left .contact img {
	width: 30px;
	height: 30px;
	display: inline-block;
}
.left .contact table {
	text-align: center;
	font-size: 15px
}
.left .social {
	text-align: center;
	padding-top: 5px;
}
.left .social a img {
	width : 30px;
	height:30px;
}

/*skills section */

.skills {
	margin-left: auto;
	margin-right: 10px;
	padding-top: 10px;
}
.skill_level {
	text-align: right;
	color: white;
	font-size: 80%;

}
.skills table {
border-collapse: separate;
}

.skills table tr td{
	padding-left: 0;
	padding-right:0;
	border: 0.5px solid white;

}
.skills table tr td:nth-child(1) {
	font-size: 80%;
	padding-left: 10px;
	width: 89px;
	min-width: 89px;
	max-width:89px;
	word-break: break-all;
	border:none;
}
.bar {
	width: 100%;
	margin-left:20px;
	margin-right: 20px;
	background-color: #ddd;
}
.python {width: 70%; background-color: #4CAF50;} /* Green */
.html {width: 60%; background-color: #2196F3;} /* Blue */
.php {width: 20%; background-color: #f44336;} /* Red */
.office {width: 80%; background-color: #808080;} /* Dark Grey */

/*language section */
.language {
	margin-top: 12px; 
}
.language table {
	padding-top: 10px;
	margin-left: auto ;
	margin-right: auto ;
}

.language img {
	width: 54px;
	height: 36px;
	padding-right: 10px;
}

/*hobby section */
.hobby {
	padding-top: 10px;
	margin-bottom: 	25px;
}
.hobby img {
	width : 40px;
	height:40px;
	margin-right: 10px;
}
.hobby_wrap{
	padding-top: 10px;
	text-align: center;

}
.header {
	padding-top: 35px;
	text-align: center;
}
.header .name{
	font-size: 40px;
	font-weight: 650;
}
.header .aboutme{
	padding-top:15px;
	text-align: justify;
	padding-right: 20px
}
.videoschool {
	text-align: center;
	margin-bottom: 15px;
}

.right .title {
	font-size: 120%;
	color: #3525af;
	text-align: left;
	text-transform: uppercase;
	position: relative;
}
.right .title:before{
	content: "";
	position: absolute;
	top: 24px;
	width: 50px;
	height: 3px;
	background: green;
}

}
.info table tr td:nth-child(1){
	width: 100px;
	padding-top :0;
}
.info table {
	text-align: left;
	padding-top: 10px
}
.date {
	color: darkblue;
	text-align: center;
	padding-right: 20px;
}
.etablissement{
	font-weight: 500;
	letter-spacing: 1px;
	color: #9153c9;
}
.infosup {
	padding-left : 20px;
	font-size: 90%
}
.right li {
	list-style-type: circle;
}